@model ERP.Security.ViewModel.UserInformationViewModel

@{
    ViewBag.Title = "User Information Setup";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12">
            <div data-alerts="alerts" id="message" data-titles="{}" data-ids="myid" data-fade="4000"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            User Information Setup
            @Html.ValidationSummary(true)
            @Html.Hidden("hdnIsInsert", true)
            @Html.Hidden("hdnIsInsertUserInformation", true)
            @Html.HiddenFor(model => model.UserInformation.Id)
        </div>
        <div class="panel-body">
            <div id="sectionA" class="tab-pane fade in active">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>User Type</label>
                            @Html.DropDownListFor(model => model.UserInformation.UserTypeId, Model.UserTypeList, "--Select--", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-6">
                            <label>Role</label>
                            @Html.DropDownListFor(model => model.UserInformation.RoleId, Model.RoleList, "--Select--", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Employee Category</label>
                            @Html.DropDownListFor(model => model.UserInformation.Employee.CategoryId, Model.EmployeeCategoryList, "--Select--", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-6">
                            <label>Employee</label>
                            @Html.DropDownListFor(model => model.UserInformation.EmployeeId, Model.EmployeeList, "--Select--", new { @class = "form-control input-sm", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Username</label>
                            @Html.TextBoxFor(model => model.UserInformation.Username, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Password</label>
                            @Html.PasswordFor(model => model.UserInformation.Password, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-6">
                            <label>Confirm Password</label>
                            @Html.PasswordFor(model => model.UserInformation.ConfirmPassword, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Password Age Limit</label>
                            @Html.TextBoxFor(model => model.UserInformation.PasswordAgeLimit, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-6">
                            <label>Wrong Password Try Limit</label>
                            @Html.TextBoxFor(model => model.UserInformation.WrongPasswordTryLimit, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Last Password Changed Date</label>
                            @Html.TextBoxFor(model => model.UserInformation.LastPasswordChangedDate, new { @style = "width: 100%;" })
                        </div>
                        <div class="col-md-6">
                            <label>Last Locked Date</label>
                            @Html.TextBoxFor(model => model.UserInformation.LastLockedDate, new { @style = "width: 100%;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Is Password Changed</label>
                            <div class="squaredFour">
                                <input type="checkbox" id="UserInformation_IsPasswordChanged" />
                                <label for="UserInformation_IsPasswordChanged"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Is Locked</label>
                            <div class="squaredFour">
                                <input type="checkbox" id="UserInformation_IsLocked" />
                                <label for="UserInformation_IsLocked"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Is Super Administrator</label>
                            <div class="squaredFour">
                                <input type="checkbox" id="UserInformation_IsSuperAdmin" />
                                <label for="UserInformation_IsSuperAdmin"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Is Active</label>
                            <div class="squaredFour">
                                <input type="checkbox" id="UserInformation_IsActive" />
                                <label for="UserInformation_IsActive"></label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            <input id="btnSave" type="button" value="Save" class="btn btn-default" />
                            <input type="button" value="Reset" class="btn btn-default" onclick="return clearData();" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}

<div id="getEmployees-url" data-request-url="@Url.Action("GetEmployees", "UserInformation")"></div>
<div id="get-url" data-request-url="@Url.Action("Get", "UserInformation")"></div>
<div id="save-url" data-request-url="@Url.Action("Save", "UserInformation")"></div>
<div id="delete-url" data-request-url="@Url.Action("Delete", "UserInformation")"></div>
<div id="user-list-url" data-request-url="@Url.Action("List", "UserInformation")"></div>

@Scripts.Render("~/Scripts/Security/UserInformation.js")