@using ERP.HRM.ViewModel

@model LeavePolicyViewModel

@{
    ViewBag.Title = "Leave Policy Setup";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    @Html.Hidden("tokenHeader", TokenHeaderValue())


    <div class="row">
        <div class="col-lg-12">
            <div data-alerts="alerts" id="message" data-titles="{}" data-ids="myid" data-fade="4000"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Leave Policy Setup
            @Html.ValidationSummary(true)
            @Html.Hidden("hdnIsInsert", true)
        </div>
        <div class="panel-body">
            <fieldset class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <label> Leave Policy Name</label>
                        @Html.HiddenFor(model => model.LeavePolicy.Id)
                        @Html.TextBoxFor(model => model.LeavePolicy.PolicyName, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-6">
                        <label>Description</label>
                        @Html.TextBoxFor(model => model.LeavePolicy.Description, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>EffectiveDate</label>
                        @Html.TextBoxFor(model => model.LeavePolicy.EffectiveDate, new { style = "width: 100%;" })
                    </div>
                    <div class="col-md-6">
                        <label>Is Active</label>
                        <div class="squaredFour">
                            <input type="checkbox" id="LeavePolicy_IsActive" />
                            <label for="LeavePolicy_IsActive"></label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <input id="btnSave" type="button" value="Save" class="btn btn-default" />
                        <input type="button" value="Reset" class="btn btn-default" onclick="return clearData();" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">
        List of Leave Policy
    </div>
    <div class="panel-grid">
        <div id="grid"></div>
    </div>
</div>

<div id="list-url" data-request-url="@Url.Action("List", "LeavePolicy")"></div>
<div id="get-url" data-request-url="@Url.Action("Get", "LeavePolicy")"></div>
<div id="save-url" data-request-url="@Url.Action("Save", "LeavePolicy")"></div>
<div id="delete-url" data-request-url="@Url.Action("Delete", "LeavePolicy")"></div>

@Scripts.Render("~/Scripts/HRM/LeavePolicy.js")




